nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

select {
  background: white;
  width: 200px;
  font: inherit;
  font-size: 12px;
}

button {
  height: 100%;
}

button:hover {
  text-transform: uppercase;
}
