nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

select {
  background: white;
  font: inherit;
  font-size: 14px;
  height: 24px
}

button {
  height: 100%;
  border: 1px solid #444;
  padding: 8px;
}

button:hover {
  text-transform: uppercase;
  background: #444;
}
