@import url('base/reset.css');
@import url('base/grid.css');
@import url('base/flex_setup.css');
@import url('components/header.css');

.container {
  height: 100vh;
  display: flex;
  align-items: center;
}

.border {
  border: 1px solid black;
}
